---
---

$line-length: 35em;
$line-height: 1.5em;
$article-font: serif;

body {
	max-width: $line-length;
	/* Center this div */
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}

.clear {
	clear: both;
}

ul, ol {
	padding-left: 2em;
}

ul.pages {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		float: left;
		margin: 1em;
		min-width: 25%;
	}
	&:after {
		display: block;
		content: '';
		clear: both;
	}
}

dl {
	dt {
		font-weight: bold;
		width: 100%;
	}
	dd {
		margin-left: 1em;
		& > ul,
		& > ol
		{
			padding-left: 1.5em;
		}
	}
}

header.site-header {
	a.site-title {
		display: block;
		float: left;
	}
	nav.site-nav {
		display: block;
		float: right;
	}
	&:after{
		display: block;
		clear: both;
		content: '';
	}
}

article {
	header {
		h1 {
			margin: 0;
			line-height: 1.5em;
			padding: 0;
			&:before {
				content: '';
				display: block;
				margin-top: 1em;
			}
			display: inline;
		}
		div.post-meta {
			float: right;
			vertical-align: text-bottom;
			text-align: right;
			padding-top: 0.9em;
			font-size: 0.9em;
			&:after {
				display: block;
				clear: both;
				content: '';
			}
		}
		padding-bottom: 0.4em;
		border-bottom: 1px solid #ddd;
		margin-bottom: 1em;
		counter-reset: section;
		overflow: auto;
	}

	hr {
		border: 0;
		height: 1px;
		background-color: #ccc;
	}

	h2, h3, h4, h5, h6 {
		line-height: $line-height;
	}

	h2:before {  // h2: section
		counter-reset: subsection;
		counter-increment: section;
		content: counter(section, decimal) ". ";
	}

	h3:before {  // h3: subsection
		counter-reset: subsubsection;
		counter-increment: subsection;
		content: counter(section, decimal) "."
		 counter(subsection, decimal) ". ";
	}

	h4:before { // h4: subsubsection
		counter-increment: subsubsection;
		content: counter(section,decimal) "."
		 counter(subsection,decimal) "."
		 counter(subsubsection,decimal) ". ";
	}

	ul#markdown-toc {
		max-width: 35%;
		float: right;
		font-size: 0.75em;
		text-align: left;
		line-height: 1.25em;
		padding-left: 1em;
		li {
			ul {
				padding-left: 1em;
			}
			list-style: none;
			padding-top: 0.1em;
			padding-bottom: 0.1em;
			a {
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}

	/* Justify and hyphenate articles by default */
	text-align: justify;
	hyphens: auto;
	font-family: $article-font;

	.small {
		font-size: 75%;
		/* force re-calculation of line-height */
		line-height: $line-height;
	}

	/* but don't justify headers */
	h1, h2, h3, h4, h5, h6 {
		text-align: left;
	}

	/* Slightly larger line-height */
	line-height: $line-height;
	
	/* Also don't try to hyphenate or justify code, since
	   whitespace and minus will have special meaning there.
	   */
	p code {
		hyphens: none;
		text-align: left;
		background-color: #f8f8f8;
	}

	/* Do not allow child elements to overflow */
	* {
		max-width: 100%;
	}

	pre {
		/* If needed in a <pre>, show scrollbars instead */
		overflow: auto;
	}

	/* Include syntax-highlighting css, generate with
	 * bundle exec rougify style github > .../_rouge.scss
	 */
	@import 'rouge';
}

/** Index page style */
main nav {
	li {
		line-height: $line-height;
		time {
			display: block;
		}
	}
}

footer .footer-heading {
	font-size: 1.5em;
	font-weight: bold;
	padding-top: 1.5em;
	border-top: 1px solid #ddd;
	margin-top: 1.5em;
}
