<meta charset="utf-8" />
<title>{{ page.title | default:site.name }}</title>
{% if page.excerpt %}
	<meta name="description" content="{{ page.excerpt | strip_html | strip }}" />
{% elsif site.description %}
	<meta name="description" content="{{ site.description | strip_html | strip }}" />
{% endif %}
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
{% feed_meta %}
<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
